.output-box {
  /* display: inline-block; */
  /* position:absolute; */
  padding: 10px 10px;
  overflow-y:auto;
  width: 70%;
  min-height: 125px;
  display: block;
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 5px;
}

.score-box{
  padding:10px 10px;
  overflow-y:auto;
  width: 70%;
  min-height: 75px;
  display: block;
  border: 1px solid #eee;
  background: #fafafa;
  border-radius: 5px;
}
